#main_container {
    background-color: purple;
    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    color: yellow;
}
/* p {
    background-color: purple;
    padding: 5px;
    margin: 10px;
    margin-left: 0px;
    color: yellow;
} */